:root {
    --roxo: #200a36;
    --pink: #751bb1;
    --rosa: #81125c;
    --rosa-chiclete: #FFB5DA;
    --branco: #ffebeb;

}

body {
    background-color: var(--roxo);
    color: var(--branco);
    font-family: var(--font-texto);
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.titulo-principal {
    text-align: left;
    width: 100%;
    font-size: 36px;
}

.titulo-principal span {
    color: var(--pink);
}

.botao {
    font-family: var(--font-texto);
    font-size: 18px;
    background-color: var(--rosa-chiclete);
    color: var(--preto);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: lem;
    width: 100%;
    border-bottom: 4px solid var(--rosa-chiclete);
    border-left: 4px solid var(--rosa-chiclete);
    border-right: 4px solid var(--rosa-chiclete);
    border-top: none;
}

.botoes {
    display: block;
}

.botao:first-child {
    border-radius: 40px 40px 0 0;
}

.botao:last-child {
    border-radius: 0 0 40px;
}

.ativo {
    background-color: var(--pink);
    border-bottom: 4px solid var(--rosa);
}

@media screen and (min-width: 768px) {
    .botoes {
        display: flex;
    }

    .botao:first-child {
        border-radius: 40px 0 0 0;
    }

    .botao:last-child {
        border-radius: 0 0 40px 40px;
    }
}

.botao.ativo{
    background-color: var(--rosa);
    border-bottom: 4px solid var(--rosa-chiclete);
}

.abas-textos{
    background-color: var(--roxo);
    padding: 40px;
    border-radius: 0 0 40px 40px;
}

.aba-conteudo.ativo{
    display: block;
}

.aba-conteudo{
    display: none;
}

.aba-conteudo-titulo-principal{
    font-size: 28px;
    text-align: center;
}

.aba-conteudo-titulo-secundario{
    text-align: center;
    color: var(--pink);
    text-transform: uppercase;
}

@media screen and (min-width: 768px) {
    .botoes {
        display: flex;
    }
    .botao:first-child{
        border-radius: 40px 0 0 0;
    }
    .botao:last-child{
        border-radius: 40px 0 0 0;
    }
}